<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title> new document </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="tofishes@163.com" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <style type="text/css">
  .fl, .fr {float:left;display:inline;}
  .fr{float:right;}
  
  .side {width:200px;height:500px;background:#ccc;}
  .main {height:500px;overflow:hidden;zoom:1;border:1px solid red;}
  </style>
 </head>

 <body>
  <div class="side fl">
     左侧栏
  </div>
  <div class="main">
	<div class="side fr">
	    右侧栏
	</div>
	<div class="main">
		中间自适应
	</div>
  </div>
 </body>
</html>
