/*  
Skin Name: White
Version: 1.0
Description: Skin for Koi.
*/

body {
	background: #fff;
	color: #666;
}
#bg {
	background-image: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
}
a {
	color: #000;
}

/* form elements */
input[type=text], input[type=password], textarea {
	background: #eee;
	border: none;
	padding: 5px 7px;
	color: #333;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.2);
	-box-shadow: 0 1px 0 rgba(0,0,0,.2);
}
textarea:focus, input[type=password]:focus, input[type=text]:focus, input[type=search]:focus {
	outline: none;
	background-color: #ddd;
}
input[type=reset], input[type=submit] {
	background: #000;
	border: none;
	border-bottom: none;
	-webkit-box-shadow: 0 2px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 0 rgba(0,0,0,.2);
	-box-shadow: 0 2px 0 rgba(0,0,0,.2);
}

/* header */
#header {
	background-image: none;
	border-bottom: solid 2px #000;
}

/* site logo */
#site-logo a {
	color: #000;
}

/* search */
#searchform #s {
	background: #eee;
	border: none !important;
}

/* main nav */
#main-nav ul {
	background: #333;
	border-color: #000;
}

/* post title */
.post-title, .post-title a {
	color: #000;
}

/* post meta */
.post-meta {
	color: #888;
}
.post-meta a {
	color: #000;
}

/* more link */
.more-link {
	background: #666;
	color: #fff;
}

/* commentform */
#commentform input#submit {
	background: #000;
}
.commentlist .comment-reply-link {
	background: #000;
	color: #ccc;
	padding: 4px 2px;
	display: block;
	height: auto;
	width: auto;
	line-height: 100%;
}

/* post nav */
.post-nav a {
	background-image: none;
	color: #000;
}

/* pagenav */
.pagenav a, .pagenav span {
	background: #666;
}

.post-nav span em {
	color: #ccc;
	background: #000;
	padding: 3px;
	display: block;
	margin-top: -3px;
}

/* footer */
#footer {
	background-image: none;
}
#footer a {
	color: #000;
}

/* sidebar */
#sidebar a {
	color: #000;
}

/* stroke */
#sidebar .widgettitle, 
.commententry,
.list-post .post-comment,
#footer {
	border-color: #ccc;
}

/* image style */
img.alignleft, img.aligncenter, img.alignright, img.alignnone, .wp-caption img,
.widget .feature-posts-list .post-img,
.widget .flickr_badge_image img,
.commentlist .avatar,
.recent-comments-list .avatar,
#body .gallery img,
.attachment img,
.post-image img,
.feature-img,
.post-img
{
	padding: 4px;
	background: #fff;
	border: solid 1px #ccc;
	-webkit-box-shadow: 0 2px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 0 rgba(0,0,0,.1);
	box-shadow: 0 2px 0 rgba(0,0,0,.1);
}
